*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.a
*.lib
*.log
*.par
*.dat
*.png
src/Makefile
src/embryo
src/.qmake.stash
src/moc_predefs.h
src/moc_qtgraph.h
src/moc_qtgraph.cpp
src/embryo_multi
*.csv
*.csv#
*.html
*.pyc